.App {
  text-align: center;
}
/*header*/
.heder {
  width: 1160px;
  height: 78px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #c1c0c0;
}
.heder_logo {
  position: relative;
  float: left;
  margin-top: 35px;
  width: 42px;
  height: 42px;
  background-color: #000000;
  text-align: center;
}
.heder_logo--txt {
  top: 50%;
  color: #ffffff;
  position: relative;
  transform: translateY(-50%);
}
.heder_menuLeft {
  width: 450px;
  position: relative;
  float: left;
  top: 60%;
}
.heder_menuLeft--category {
  float: left;
  position: relative;
  margin-left: 40px;
  font-size: 15px;
  font-family: initial;
  color: #000000;
  text-decoration: none;
}
.heder_menuRight {
  width: 290px;
  top: 60%;
  float: right;
  position: relative;
  font-size: 15px;
  font-family: initial;
  
}
.heder_menuRight--category {
  float: left;
  margin-left: 40px;
  color: #000000;
  text-decoration: none;
}
.heder_menuRight--search {
  width: 42px;
  height: 42px;
  float: right;
  position: relative;
}
.heder_menuRight--img {
  width: 20px;
  height: 17px;
  float: right;
  border: 1px #000000;
  border-style: solid;
  padding: 5px;
}

/*midle*/

.allBox {
  position: absolute;
  width: 100%;
}
.card-deck {
  width: 1160px;
  height: 880px;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  float: left;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}
.upBox {
  position: relative;
  height: 200px;
 
}
.boxSecond {
  float: left;
  width: 290px;
  position: relative;
  background-color: lightgray;
  height: 200px;
  overflow: hidden;
  margin-bottom: 1px;
}

.boxSecond__card--twitt {
  width: 30px;
  position: relative;
}

.boxThird__card--avatar{
  position: relative;
  height: 200px;
}

.pictures {
    position: relative;
}
.boxSecond__card--txt{
    font-style: italic;
    width: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.boxThird__card--txt {
  margin: 0;
  font-style: italic;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  padding: 0;
}
.midleBoxSec {
  position: relative;
  height: 200px;
  overflow: hidden;
  float: left;
}
